<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidden Words CTB</title>

    <script src="/mainscript.js"></script>
</head>
<body>
    <div class="panel-main">
        <h2>Join a Lobby</h2>
        <input type="text" placeholder="Enter Lobby ID">
        <input type="text" placeholder="Enter Username">
        <button>Go</button>
    </div>
</body>
</html>